# =========================

# Node.js

# =========================

node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================

# Python / FastAPI

# =========================

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.env
.venv/
venv/
env/

# =========================

# Logs

# =========================

*.log

# =========================

# System (Mac)

# =========================

.DS_Store

# =========================

# IDE / Editor

# =========================

.vscode/
.idea/

# =========================

# Misc

# =========================

*.sqlite3
*.db
*.pid
tmp/
temp/
